// COLORS

$color-primary:#ed532f;
$color-primary-light:#fd8405;
$color-primary-dark:#de2558;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-brown:#8B4513;
$color-blue:#1C74B1;
$color-nav:#E89D40;
$color-green:#24b985;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(185, 179, 179);
$color-grey-dark:#777;
$color-grey-dark-2:#2f3640;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-bg:#07070707;
$color-black:#000;

$shadow-1:rgba($color-black, .2);
$shadow-2:rgba($color-black, .45);
$shadow-3:rgba($color-black, .8);

//FONT
$default-font-size:1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical : 8rem;
$gutter-vertical-small : 6rem;
$gutter-horizontal : 6rem;